body {
	margin: 0;
	background-color: lightgrey;
	height: 100%;
	width: 100%;
	font-size: 10px;
}	
img{
	width: 30%;
}
a{
	text-decoration: none;
	color: black;
}
.wrapper{
	height: 100%;
	width:100%;
}
.wrapper header {
	width: 100%;
	height:4%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.wrapper header .header-box img{
	height: 10%;
}
.wrapper header .header-box{
	display: flex;
	align-items: center;
}

nav ul {
	padding: 0;
	display: flex;
}

nav ul li {
	display: flex;
	justify-content: space-between;
	padding: 10px ;
}

nav ul a {
	display: flex;
	justify-content: space-around;
	color: black;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

nav ul a div {
	border-radius: 40%;
	position: absolute;
	font-size: 60%;
	justify-content: space-around;
	background-color: red;
	color: white;
	text-decoration: none;
	margin: -0.7% 0 auto 3%;
}

header .search-bar {
	margin-left: 5%;
	height: 60%;
	display: flex;
}
header .search-bar .search-column{
	position: relative;
	height: 90%;
	padding-right: 0;
	margin-right: 0;
	cursor: pointer;
}
header .search-bar .search-button{
	position: relative;
	height: 110%;
	padding-left: 0;
	margin: 0 0 0 0;
	cursor: pointer;
}
header .center{
	height: 60%;
	margin-left: 10px;
	text-align: center;
	background-color: dodgerblue;
	color:white;
	cursor: pointer;
}
header .logo{
	font-size: 14px;
	padding:0 3px 0 3px;
	cursor: pointer;
}
header .login-register-box{
	color: blue;
	border: solid 1px blue;
	font-size: 14px;
	cursor: pointer;
}

.main{
	height: 100%;
	display: flex;
	//background-color: plum;
}

.main .leftside{
	width: 15%;
	margin: 1% 3% 0 6%;
	background-color: white;
}
.main .leftside li{
	list-style: none;
	margin: 0 0 13px 0;
}
.main .leftside li a{
	text-decoration: none;
	color: gray;
	cursor: pointer;
}
.main .middle{
	width:50%;
	
	//background-color: yellow;
}

.main .middle .upper{
	height:auto;
	background-color: white;	
}

.main .middle .upper>ul{
	padding:0 0;
	height: 100%;
	
	display:flex;
	list-style: none;
	//background-color: orange;
}
.main .middle .upper>ul>li{
	width: 100%;
	//background-color: green;
}
.main .middle .upper .ranking-list ul{
	width: 30%;
	align-items: center;
	//background-color: orange;
}
.main .middle .upper .list-name{
	text-align: center;
	//background-color: orange;
}
.main .middle .upper .more{
	position: absolute;
	margin: -1% 0 0 13%;
	font-size: 80%;
	color: darkgrey;
}

.main .middle .upper ol, .main .middle .upper ul ul{
	padding-left: 7%;
}
.empty{
	height:2%;
}
.main .middle .down{

	height: auto;
	background-color: WHITE;
}
.main .middle .down .column a{
	padding:3% 0 0 3%;
	cursor: pointer;
}
.main .middle .down ul{
	list-style: none;
	padding-left: 3%;
}
.main .middle .down ul li{
	border-bottom: solid 1px grey;
	padding-bottom: 1%;
}
.main .middle .down .content{
	display: flex;
}
.main .middle .down ul .title{
	font-size: 140%;
	color: gray;
}
.main .middle .down ul .description{
	font-size: 130%;
	color: darkgray;
}
.main .middle .down ul .content img{
	width: 10%;
}
.main .rightside{
	width: 15%;
	margin: 1% 6% 0 3%;
	
}
.main .rightside ul{
	margin-top: 0;
	list-style: none;
	padding-left: 0;
}
.main .rightside li{
	padding-bottom: 5%;
	
}
.main .rightside .greet{
	display: flex;
	justify-content: space-between;
	padding: 5% 3% 5% 3%;
	background-color: white;
}
.greet .greet-title{
	font-size: 150%;
}
.greet .greet-text{
	font-size: 70%;
}
.main .rightside li img{
	width: 100%;
	cursor: pointer;
}
.main .rightside .qr{
	display: flex;
	justify-content: space-between;
	padding: 5% 3% 5% 3%;
	background-color: white;
}
.main .rightside .qrbox{
	padding-right: 5%;
}
.main .rightside .qr img{	
	width: 30%;
}
.qr .greet-title{
	font-size: 150%;
}
.qr .greet-text{
	font-size: 70%;
}
.other{
	background-color: white;
}
.main .rightside .other img{
	width:10%
}