.btn{
    color: royalblue;
    border-color: royalblue;
    background-color: white;
    cursor: pointer;;
}

.btn-primary{
    color: white;
    background-color: royalblue;
}

.btn-link{
    border-color: white;
}

.btn-danger{
    color: white;
    background-color: #ea644a;
    border-color: #ea644a;
}

.btn-large{
    font-size:  20px;
    line-height: 20px;
}

.btn-small{
    font-size:  10px;
    line-height: 10px;
}

:disabled{
    cursor: not-allowed;
    opacity: 0.3;
    box-shadow: none;
}